<form method="get" action="/quizes/<%= quiz.id %>/answer">        
	<p> <%= quiz.pregunta %> </p>
	<input type="text" name="respuesta" style="width:300px;" placeholder="Respete mayúsculas y acentos"/>
	<input type="submit" value="Enviar">
</form>

<br/>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<br/><hr/><br/>


<p><strong>Comentarios:</strong></p>
<% for(index in quiz.comments){ %>
	<p><%=quiz.comments[index].texto %></p>
	<p><%=quiz.comments[index].createdAt %></p>
	<hr/>
<% } %>
